@import '~antd/lib/style/themes/default.less';
@import '../../utils/utils.less';

.headerList {
  margin-bottom: 4px;
}
.headButton {
  border-color: #4a7dff;
  color: #4a7dff;
}
.search{
  background-color: #fff;
  margin-bottom: 16px;
  padding: 16px;
  Button{
    margin-left: 16px;
  }
}
.timeWrap {
  :global {
    .ant-timeline-item {
      padding: 0 0 32px;
    }
  }
}

.setTitle{
  margin-bottom: 16px;
  label{
    font-weight: bold;
    font-size: 16px;
  }
  span{
    font-size: 14px;
    margin-left: 16px;
  }
}
.cardStyle{
  border: 1px solid #f2f2f2;
  cursor: pointer;
  padding: 8px 0;
  i{
    color: #61cc8f;
  }
  p{
    font-size: 12px;
    margin-bottom: 0;
    color: #999;
  }
  :global{
    .ant-row{
      padding:8px 4px;
    }
  }
}
.inquiry{
  color: #7d8494;
  padding: 8px;
  border: 1px solid rgba(211, 211, 211, 0.5);
  h4{
    border-left: 3px solid #4a7dff;
    padding-left: 16px;
  }
  p{
    font-size: 12px;
    display: inline-block;
    background-color: rgba(211, 211, 211, 0.5);
    margin-right: 16px;
    padding: 4px 8px;
    border-radius: 4px;
  }
  .firstImpres{
    padding-left: 16px;
    .item {
      background: #F6F6F6 !important;
      color: #7D8494;
    }
  }
  .inquiryContent {
    line-height: 30px;
    padding-left: 16px;
    font-size: 13px;
    .inquiryLine {
      display: inline-table;
      margin-left: 16px;
    }
  }
}
.cardDetail{
  background-color: #fafafa;
  margin-top: 16px;
  p{
    line-height: 20px;
    font-size: 13px;
    padding: 8px;
  }
}
.treaTment{
  margin-top: 16px;
}

.detail_result_desc_img{
  width: 100px;
  height: 100px;
  margin-right: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.image_preview_modal{
  :global{
    .ant-modal-close-x{
      width:24px;
      height:24px;
      line-height: 24px;
    }
  }
}
